In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!ls

drive  sample_data

In [3]:
%cd '/content/drive/My Drive/Kaggle/Did it Rain?'
!ls

/content/drive/My Drive/Kaggle/Did it Rain?
 archive.zip  'Rainfall in Australia?.ipynb'   weatherAUS.csv

In [ ]:
!unzip 'archive.zip'
!ls

Archive:  archive.zip
  inflating: weatherAUS.csv
 archive.zip  'Rainfall in Australia?.ipynb'   weatherAUS.csv

In [15]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Kaggle/Did it Rain?/weatherAUS.csv')
df.head(1)

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No

[1 rows x 23 columns]

In [16]:
pass

In [17]:
df.index.is_unique

True

In [18]:
df.head(1)

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No

[1 rows x 23 columns]

In [19]:
df.set_index('Date', drop=True, inplace=True)

In [21]:
df.reset_index(inplace=True)

In [22]:
df.head(1)

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No

[1 rows x 23 columns]

In [23]:
df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [24]:
df.MinTemp.dtype

dtype('float64')

In [25]:
df.MinTemp.apply(lambda x: type(x)).value_counts()

<class 'float'>    145460
Name: MinTemp, dtype: int64

In [26]:
len(df.MinTemp)

145460

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [29]:
df.WindDir9am.apply(lambda x: type(x)).value_counts()

<class 'str'>      134894
<class 'float'>     10566
Name: WindDir9am, dtype: int64

In [30]:
df.WindDir9am.dtypes

dtype('O')

In [31]:
df.WindDir9am.isna().sum()

10566

In [35]:
dfWind = df.WindDir9am[df.WindDir9am.apply(lambda x: isinstance(x, float))]
dfWind

15        NaN
26        NaN
65        NaN
86        NaN
88        NaN
         ...
145130    NaN
145169    NaN
145323    NaN
145422    NaN
145429    NaN
Name: WindDir9am, Length: 10566, dtype: object

In [34]:
dfWind.loc[dfWind==True].value_counts()

True    10566
Name: WindDir9am, dtype: int64